<b><font size = 5 color='#99495C'> 10 </font><font size = 5 color="#F4AC73">|</font> <font size = 5 color='#CDAE7D'> Feature Engineering </font></b><a name="feature"></a>

<b><font size = 5 color='#99495C'> 10 </font><font size = 5 color="#F4AC73">|</font> <font size = 5 color='#CDAE7D'> Feature Engineering </font></b><a name="feature"></a>

In [1]:
# Tratamiento de datos
# ==============================================================================
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.impute import SimpleImputer

# Gráficos
# ==============================================================================
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

# Preprocesado y modelado
# ==============================================================================
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline

# Feature Engineering
from sklearn.inspection import PartialDependenceDisplay
from sklearn.preprocessing import PolynomialFeatures
from sklearn.inspection import permutation_importance

# Reducción de dimensionalidad
from sklearn.decomposition import PCA

# Detección de outliers
from sklearn.ensemble import IsolationForest

# Modelos de Regresión
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor # NUEVO
from catboost import CatBoostRegressor # NUEVO
from lightgbm import LGBMRegressor # NUEVO

# Modelos de Clasificación
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier # NUEVO
from catboost import CatBoostClassifier # NUEVO
from lightgbm import LGBMClassifier # NUEVO

# Selección de Modelos
from sklearn.model_selection import GridSearchCV, cross_val_score, RandomizedSearchCV
from skopt import BayesSearchCV
from skopt.space import Real, Categorical, Integer
from scipy.stats import randint

# Modelos de Clustering
from sklearn.cluster import KMeans, AgglomerativeClustering, DBSCAN

# Métricas
# ==============================================================================
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error, r2_score
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score, roc_auc_score, roc_curve
# Defino Semilla
SEED = 32148

# Drive
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'xgboost'

In [11]:
df1 = pd.read_csv('datasets/StormEvents_details-ftp_v1.0_d2023_c20240418.csv')

df1.head()

# df1.info()
# print (df1.info)
# print (df1.shape)

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,202310,25,230,202310,27,551,186682,1145781,NORTH DAKOTA,38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"In late October, a winter storm dumped heavy s...",Public reports 7.5 inches at Black Tiger Bay C...,CSV
1,202310,25,230,202310,27,1437,186682,1145783,NORTH DAKOTA,38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"In late October, a winter storm dumped heavy s...",Local Police Department relays storm total sno...,CSV
2,202310,25,230,202310,27,1126,186682,1145784,NORTH DAKOTA,38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"In late October, a winter storm dumped heavy s...",Public reports 10 inches of storm total snowfa...,CSV
3,202310,25,230,202310,27,1301,186682,1145796,NORTH DAKOTA,38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"In late October, a winter storm dumped heavy s...",Emergency Manager reports 6 inches of storm to...,CSV
4,202310,25,230,202310,27,600,186682,1145884,NORTH DAKOTA,38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"In late October, a winter storm dumped heavy s...",CoCoRaHS Station ND-GF-23 reports 8.8 inches o...,CSV

In [12]:
df1.tail()

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
74904,202308,1,0,202308,8,2259,184635,1130604,ILLINOIS,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Severe Drought (D2) persisted across west-cent...,Severe Drought (D2) conditions lingered across...,CSV
74905,202308,1,0,202308,8,2259,184635,1130606,ILLINOIS,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Severe Drought (D2) persisted across west-cent...,Severe Drought (D2) conditions lingered across...,CSV
74906,202308,20,1300,202308,25,2000,183592,1122056,ILLINOIS,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A strong heat dome over the Midwest resulted i...,A prolonged stretch of dangerous heat and humi...,CSV
74907,202306,24,1510,202306,24,1514,182312,1114348,MINNESOTA,27,...,4.0,ENE,SHELLY,47.49,-96.73,47.4991,-96.7571,Surface low pressure system tracked across the...,Norman county Emergency Manager confirmed torn...,CSV
74908,202307,3,1500,202307,3,1500,183551,1121651,NEW YORK,36,...,1.0,E,GOSHEN,41.40,-74.31,41.4000,-74.3100,A slow moving front and shortwave trough aloft...,Poles and wires down on Orange Avenue in Goshen.,CSV